.order-table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  text-align: left;

  @media (min-width: $md) {
    table-layout: fixed;
  }

  th, td {
    padding: 11px 5px;
  }

  th:first-child,
  td.order-table__rowspan-td {
    padding-left: 18px;
  }

  th {
    padding-bottom: 18px;
    font-size: 12px;
    font-weight: 400;
    color: fade-out($primaryDark, .6);
  }

  &__label {
    left: 3px;
    bottom: 2px;
  }

  &__rowspan-td {
    vertical-align: top;
  }

  &__checkbox-th {
    width: 6%;
  }

  &__buttons-th {
    width: 3%;
  }

  &__color-th {
    width: 31.5%;
  }

  &__tint-th {
    width: 31%;
    min-width: 155px;
  }

  &__amount-th {
    width: 15.5%;
    min-width: 60px;
  }

  .order-table__amount-th {
    @media (min-width: $sm) {
      padding-left: 18px;
    }
  }

  &__color-val {
    display: inline-block;
    border-bottom: 2px solid fade-out($primaryDark, .85);
    font-size: 18px;
    line-height: 1.2;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__input {
    width: 100%;
  }

  &__amount-td {
    font-size: 0;
    text-align: center;
  }

  .order-table__unit-td {
    padding-left: 9px;
  }

  &__num-input,
  &__amount {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
  }

  &__num-input {
    width: 90%;
    max-width: 55px;
    text-align: center;
  }

  &__amount {
    width: 10%;
    padding-left: 5px;
  }

  &__remove {
    left: 3px;
  }
}
