.order-form {
  display: flex;
  padding-top: 20px;
  padding-bottom: 70px;

  @media (max-width: $md) {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__table {
    margin-bottom: 30px;
  }

  &__body,
  &__sidebar {
    padding-top: 15px;
  }

  &__body {
    flex-grow: 1;
    max-width: 715px;
    padding-right: 40px;

    @media (max-width: $md) {
      flex-basis: 100%;
      padding-right: 0;
      padding-bottom: 45px;
      border-bottom: 2px dotted $themeVar;
    }
  }

  &__sidebar {
    width: 260px;
    padding-bottom: 70px;
    padding-left: 37px;
    border-left: 2px dotted $themeVar;

    @media (max-width: $md) {
      border-left: 0;
      padding-bottom: 0;
    }
  }

  &__title {
    position: relative;
    padding-left: 20px;
    padding-bottom: 15px;
    margin-bottom: 15px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -10px;
      right: 0;
      height: 4px;
      background-color: $themeAccent;

      @media (max-width: $md) {
        left: 0;
      }
    }
  }

  &__list {
    font-size: 18px;
  }

  &__list-item:not(:last-child) {
    margin-bottom: 1em;
  }

  &__list-link {
    display: inline-block;
    vertical-align: baseline;
    color: inherit;
    text-decoration: none;

    &:not(&--current) {
      border-bottom: 1px dotted fade-out($primaryDark, .7);

      &:hover {
        border-bottom-color: currentColor;
      }
    }

    &--current {
      position: relative;
      margin-bottom: 5px;
      color: $themeColor;

      &::before {
        content: "";
        position: absolute;
        top: 2px;
        left: -20px;
        width: 13px;
        height: 10px;
        border-left: 2px solid $themeAccent;
        border-bottom: 2px solid $themeAccent;
        border-radius: 2px;
        transform: rotate(-45deg);
      }
    }
  }

  &__btn {
    border-radius: 4px;
    margin-top: 25px;
    font-size: 22px;
    color: $primaryLight;
    box-shadow: 0 3px 5px rgba(241, 163, 80, 0.45);
    background-image: linear-gradient($themeAccent, #f1a34e);
  }

  &__add {
    margin-left: 38.5%;
  }
}
