// Paths
$imgDir: "../img";
$fontsDir: "../fonts";

// Widths
$xs: 420px;
$sm: 480px;
$md: 748px;
$lg: 1000px;

// Colors
$primaryDark: #000;
$primaryLight: #fff;
$greyDefault: #d7d7d7;

$themeColor: #dc7300;
$themeAccent: #f1b16b;
$themeVar: #e37458;
