// Paths
$imgDir: "../img";
$fontsDir: "../fonts";

// Widths
$xs: 320px;
$sm: 480px;
$md: 768px;
$lg: 1000px;

// Colors
$primary-dark: #000;
$primary-light: #fff;
$grey-default: #d7d7d7;

$theme-color: #dc7300;
$theme-accent: #f1b16b;
$theme-var: #e37458;
